@model List<Task_Management_System.Models.Tasks>

@{
    ViewData["Title"] = "CompletedTasks";
}


<div class="container mt-5">
<h1 class="p-3">My Approved/Rejected Tasks:</h1>


    <table class="table table-hover shadow">
        <thead class="bg-dark text-white">
            <tr>
                
                <th>Employee</th>
                <th>Task Title</th>
                <th>Task Description</th>
                <th>Task Price</th>
                <th>Task Deadline</th>
                <th>Task Status</th>
                <th>Task Feedback</th>
                <th>Assign From</th>
                <th>Submitted Task</th>
                <th>Submitted at</th>
                <th>Assigned at</th>
                <th>Updated at</th>

            </tr>
        </thead>


        <tbody class="table-secondary">
            @if (Model.Count() == 0)
            {
                <tr>
                    <th>No Records Found!</th>
                </tr>
            }
            @foreach (var task in Model)
            {
                <tr>
        
                    <td>@task.users.U_Name</td>
                    <td>@task.Title</td>
                    <td>@task.Desc</td>
                    <td>$@task.Price</td>
                    <td>@task.DeadLine</td>

                    @if (task.Status == 0)
                    {
                        <td class="text-warning fw-bold">Pending...</td>
                    }
                    else if (task.Status == 1)
                    {
                        <td class="text-success fw-bold">Submitted...</td>


                    }
                    else if (task.Status == 2)
                    {
                        <td class="text-danger fw-bold">Expired</td>

                    }
                    else if (task.Status == 3)
                    {
                        <td class="text-success fw-bold">Approved!</td>

                    }
                    else if (task.Status == 4)
                    {
                        <td class="text-danger fw-bold">Rejected!</td>

                    }

                    <td><strong>@task.Feedback</strong></td>
                    <td>@task.From</td>

                    @if (task.SubmittedWorkPath == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {

                        <td>@task.SubmittedWorkPath</td>
                    }

                    @if (task.SubmitedAt == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {


                        <td>@task.SubmitedAt</td>
                    }





                    <td>@task.CreatedAt</td>



                    @if (task.UpdatedAt == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {

                        <td>@task.UpdatedAt</td>
                    }






                </tr>
            }

        </tbody>


    </table>
</div>