@model List<Task_Management_System.Models.Tasks>
@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "_AdminLayout";
}

<h1 class="mt-4">Admin Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>



@* ----------------------------------cards start-------------------------------- *@


<div class="container">
    <h1 class="h1 pt-3 px-3">No.of Tasks With Status:</h1>
    <hr />
    <div class="row ps-5 mt-5">
        <div class="col-lg-4">
            <div class="card bg-success w-75 p-3 pb-4 border-rounded">
                <h3 class="text-white text-start pb-4">Approved tasks</h3>
                <h5 class="text-white text-center">@ViewBag.approvedtask</h5>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="card bg-warning w-75 p-3 pb-4 border-rounded">
                <h3 class="text-white text-start pb-4">Pending tasks</h3>
                <h5 class="text-white text-center">@ViewBag.pendingtask</h5>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card bg-danger w-75 p-3 pb-4 border-rounded">
                <h3 class="text-white text-start pb-4">Rejected tasks</h3>
                <h5 class="text-white text-center">@ViewBag.rejectedtask</h5>
            </div>

        </div>

    </div> @* 1st row end *@


    <div class="row ps-5 justify-content-center mt-3">


        <div class="col-lg-4 mt-4">
            <div class="card bg-primary w-75 p-3 pb-4 border-rounded">
                <h3 class="text-white text-start pb-4">Submitted tasks</h3>
                <h5 class="text-white text-center">@ViewBag.submitedtask</h5>
            </div>

        </div>

        <div class="col-lg-4 mt-4">
            <div class="card bg-secondary w-75 p-3 pb-4 border-rounded">
                <h3 class="text-white text-start pb-4">Expired tasks</h3>
                <h5 class="text-white text-center">@ViewBag.expiredtask</h5>
            </div>

        </div>

    </div>





</div>
@* ----------------------------------cards end-------------------------------- *@




<div class="container mt-5">
    <h1 class="h1 pt-3 px-3">All Tasks:</h1>
    <hr />
    <table class="table table-hover shadow mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th>#</th>
                <th>Employee</th>
                <th>Task Title</th>
                <th>Task Description</th>
                <th>Task Price</th>
                <th>Task Deadline</th>
                <th>Task Status</th>
                <th>Task Feedback</th>
                <th>Assign From</th>
                <th>Submitted Task</th>
                <th>Submitted at</th>
                <th>Assigned at</th>
                <th>Updated at</th>
                <th>Edit</th>
            </tr>
        </thead>


        <tbody class="table-secondary">
            @if (Model.Count() == 0)
            {
                <tr>
                    <th>No Records Found!</th>
                </tr>
            }
            @foreach(var task in Model)
            {
                <tr>
                    <td>@task.Task_Id</td>
                    <td>@task.users.U_Name</td>
                    <td>@task.Title</td>
                    <td>@task.Desc</td>
                    <td>$@task.Price</td>
                    <td>@task.DeadLine</td>

                    @if (task.Status == 0)
                    {
                        <td class="text-warning fw-bold">Pending...</td>
                    }
                    else if (task.Status == 1)
                    {
                        <td class="text-success fw-bold">Submitted...</td>


                    }
                    else if(task.Status == 2)
                    {
                        <td class="text-danger fw-bold">Expired</td>

                    }
                    else if(task.Status == 3)
                    {
                        <td class="text-success fw-bold">Approved!</td>

                    }
                    else if(task.Status == 4)
                    {
                        <td class="text-danger fw-bold">Rejected!</td>

                    }

                <td>@task.Feedback</td>
                <td>@task.From</td>

                    @if (task.SubmittedWorkPath == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {

                      <td>@task.SubmittedWorkPath</td>
                    }

                    @if (task.SubmitedAt == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {

                     
                        <td>@task.SubmitedAt</td>
                    }





                <td>@task.CreatedAt</td>



                    @if (task.UpdatedAt == null)
                    {
                        <td class="text-black ">No data yet!...</td>

                    }
                    else
                    {

                        <td>@task.UpdatedAt</td>
                    }




                    <td><a asp-route-id="@task.Task_Id" asp-action="EditTask" asp-controller="Admin" class="btn btn-warning">Edit</a></td>

            </tr>  
            }
           
        </tbody>


    </table>




</div>